﻿/* Start Angular element*/
[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer;
}

* {
    font-family: 'Verdana';
    src: url('Fonts/Verdana/Verdana.ttf') format('truetype');
}

/* End Angular element */

.margin-top-5px {
    margin-top: 5px;
}

.margin-top-15px {
    margin-top: 15px;
}

.margin-top-25px {
    margin-top: 25px;
}

.margin-top-80px {
    margin-top: 80px;
}

tr.vertical-align-middle td {
    vertical-align: middle !important;
}

.form-error .ng-invalid {
    border-color: #f00;
}

.no-result-found {
    margin-top: 20px;
}

/***  Extra ***/

.logList {
    min-height: 200px;
    border: 5px solid #000;
    border-radius: 15px;
}

*, *:before, *:after {
    box-sizing: border-box;
}

.float-hdr {
}

    .float-hdr:after {
        content: '';
        display: block;
        clear: both;
    }

.ship-sect {
    width: 100%;
    height: 100%;
    position: relative;
}

.ship-sect-panel {
    height: 100%;
    position: relative;
}

.ship-app-panel {
    width: calc(100% - 200px);
    float: left;
    z-index: 1;
}

    .ship-app-panel .ship-hdr {
        background-image: url("../../Images/img-ship.png");
        background-repeat: no-repeat;
        width: 971px;
        height: 264px;
        position: absolute;
        left: calc(50% - 485px);
        top: calc(50% - 132px);
    }

        .ship-app-panel .ship-hdr .container-hdr {
            width: 626px;
            height: 202px;
            margin: 28px 220px 34px 125px;
            position: relative;
        }

            .ship-app-panel .ship-hdr .container-hdr .control-hdr {
                min-width: 90px;
                text-align: right;
                position: absolute;
            }

                .ship-app-panel .ship-hdr .container-hdr .control-hdr .icon-control {
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;
                    width: 25px;
                    height: 25px;
                    display: inline-block;
                    cursor: pointer;
                }

                .ship-app-panel .ship-hdr .container-hdr .control-hdr .icon-rotate {
                    background-image: url("../../Images/icon-rotate.svg");
                }

                .ship-app-panel .ship-hdr .container-hdr .control-hdr .icon-delete {
                    background-image: url("../../Images/icon-delete.svg");
                }

            .ship-app-panel .ship-hdr .container-hdr .cargo {
                position: absolute;
                cursor: pointer;
            }

                .ship-app-panel .ship-hdr .container-hdr .cargo .bg {
                    opacity: 0.5;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0px;
                    left: 0px;
                }

                .ship-app-panel .ship-hdr .container-hdr .cargo .border {
                    width: 100%;
                    height: 100%;
                    border-width: 1px;
                    border-style: solid;
                    position: absolute;
                    top: 0px;
                    left: 0px;
                }

.ship-side-panel {
    background-color: #3e3d3d;
    width: 200px;
    overflow-y: auto;
    float: right;
}

    .ship-side-panel .cargo-panel {
        width: 100%;
        min-height: 100px;
        padding: 10px;
        border-bottom: 1px solid #eeeeee;
    }

.dark-Btn {
    width: 60%;
    height: 40px;
    color: #fff !important;
    background-color: #070707;
    border-radius: 40px;
    cursor: pointer;
}

.blue-Btn {
    width: 60%;
    height: 40px;
    color: #fff !important;
    background-color: #0097a9;
    border-radius: 40px;
    cursor: pointer;
}

.green-Btn {
    width: 60%;
    height: 40px;
    color: #fff !important;
    background-color: #86bc26;
    border-radius: 40px;
    cursor: pointer;
}

.dropbtn {
    /*background-color: #4CAF50;
            color: white;
            padding: 16px;
            font-size: 16px;*/
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    /*min-width: 160px;*/
    /*max-width: 250px;*/
    width: 300px;
    overflow-x: hidden;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 101;
}

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        .dropdown-content a:hover {
            background-color: #f1f1f1
        }

.dropdown:hover .dropdown-content {
    display: block;
}

.show {
    display: block;
}

/*.dropdown:active .dropdown-content {
    display: block;
}*/

.dropdown:hover .dropbtn {
    /*background-color: #424242;*/
}

.dropdown-content div {
    text-decoration: none;
    display: block;
}

.darkTable {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

div.answerLable {
    position: relative;
}


div.answerPollContainer_selected {
    position: absolute;
    background-color: #7ec343;
    border-radius: 5px;
    height: 100%;
    margin-left: -10px;
}

div.answerPollContainer_not_selected {
    position: absolute;
    background-color: #d9d9d9;
    border-radius: 5px;
    height: 100%;
    min-height: 40px;
    margin-left: -10px;
}

div.imageBlock {
    display: inline-block;
    background-color: #ececf0;
    border-radius: 5px;
    height: 40px;
    width: 40px;
    margin-right: 10px;
    margin-left: 10px;
}

div.No_imageBlock {
    display: inline-block;
    border-radius: 5px;
    height: 40px;
    width: 40px;
    margin-right: 10px;
    margin-left: 10px;
}

div.answerPollContainerFacilator {
    position: relative;
    background-color: #ececf0;
    border-radius: 5px;
    min-height: 40px;
}

.forumAvatarPost {
    content: '';
    display: inline-block;
    background-size: cover;
    /*border-radius: 48%;*/
    width: 50px;
    height: 50px;
    /*box-shadow: 2px 5px 11px #a9a9a9;*/
}

.getHideVisible {
    display: none;
}

div.greyContainer_Selected {
    background-color: #86bc26;
    border-radius: 5px;
    min-height: 40px;
}

div.lighgreyContainer {
    /*background-color: #f3f3f3;*/
    background-color: #ececef;
    border-radius: 5px;
    min-height: 40px;
}

.greenText {
    color: #86bc26;
    font: bold;
    display: block;
}

.greenTextBold {
    color: #86bc26;
    font: bold;
    display: block;
}

input.greyContainerInput {
    color: white;
    background-color: #4e4e4e;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #4e4e4e;
    border-radius: 4px;
}

    input.greyContainerInput::placeholder {
        color: lightgray;
    }

div.greyContainer {
    background-color: #4e4e4e;
    border-radius: 5px;
    min-height: 40px;
}

    div.greyContainer:active {
        background-color: #86bc26;
        border-radius: 5px;
        min-height: 40px;
    }

.lightText {
    color: #d7d7d7;
    font: bold;
    display: block;
}

.deloitte-table {
    font-size: 12px !important;
    min-width: 1000px;
    overflow-x: scroll;
    margin-bottom: 0px !important;
}

.padBottom5 {
    padding-bottom: 5px;
}

.padBottom10 {
    padding-bottom: 10px;
}

.padBottom15 {
    padding-bottom: 15px;
}

.padBottom20 {
    padding-bottom: 20px;
}

.Hidden-nav {
    display: none !important;
}

.ico_course {
    background-image: url('../../Images/program_inactive_icon.png');
    background-position: left 0px;
    background-repeat: no-repeat;
    padding: 0px 10px 0 30px !important;
}

.ico_course_active {
    background-image: url('../../Images/program_active_icon.png');
    background-position: left 0px;
    background-repeat: no-repeat;
    padding: 0px 10px 0 30px !important;
}

.ico_whatNews {
    background-image: url('../../Images/whatsnew_inactive_icon.png');
    background-position: left 0px;
    background-repeat: no-repeat;
    padding: 0px 10px 0 30px !important;
}

.ico_whatNews_active {
    background-image: url('../../Images/whatsnew_active_icon.png');
    background-position: left 0px;
    background-repeat: no-repeat;
    padding: 0px 10px 0 30px !important;
}

.ico_DigitalCourse {
    background-image: url('../../Images/digital_inactive_icon.png');
    background-position: left 0px;
    background-repeat: no-repeat;
    padding: 0px 10px 0 30px !important;
}

.ico_DigitalCourse_active {
    background-image: url('../../Images/digital_active_icon.png');
    background-position: left 0px;
    background-repeat: no-repeat;
    padding: 0px 10px 0 30px !important;
}

.ico_GTS {
    background-image: url('../../Images/digital_inactive_icon.png');
    background-position: left 0px;
    background-repeat: no-repeat;
    padding: 0px 10px 0 30px !important;
}

.ico_GTS_active {
    background-image: url('../../Images/digital_active_icon.png');
    background-position: left 0px;
    background-repeat: no-repeat;
    padding: 0px 10px 0 30px !important;
}

.ico_CheckpointSurvey {
    background-image: url('../../Images/survey_inactive_icon.png');
    background-position: left 0px;
    background-repeat: no-repeat;
    padding: 0px 10px 0 30px !important;
}

.ico_CheckpointSurvey_active {
    background-image: url('../../Images/survey_active_icon.png');
    background-position: left 0px;
    background-repeat: no-repeat;
    padding: 0px 10px 0 30px !important;
}

.ico_PushNotification {
    background-image: url('../../Images/notif_inactive_icon.png');
    background-position: left 0px;
    background-repeat: no-repeat;
    padding: 0px 10px 0 30px !important;
}

.ico_PushNotification_active {
    background-image: url('../../Images/notif_active_icon.png');
    background-position: left 0px;
    background-repeat: no-repeat;
    padding: 0px 10px 0 30px !important;
}

.ico_MobileUserList {
    background-image: url('../../Images/mobile_inactive_icon.png');
    background-position: left 0px;
    background-repeat: no-repeat;
    padding: 0px 10px 0 30px !important;
}

.ico_MobileUserList_active {
    background-image: url('../../Images/mobile_active_icon.png');
    background-position: left 0px;
    background-repeat: no-repeat;
    padding: 0px 10px 0 30px !important;
}

.ico_AdminManagement {
    background-image: url('../../Images/admin_inactive_icon.png');
    background-position: left 0px;
    background-repeat: no-repeat;
    padding: 0px 10px 0 30px !important;
}

.ico_AdminManagement_active {
    background-image: url('../../Images/admin_active_icon.png');
    background-position: left 0px;
    background-repeat: no-repeat;
    padding: 0px 10px 0 30px !important;
}

.ico_PortalLog {
    background-image: url('../../Images/portal_inactive_icon.png');
    background-position: left 0px;
    background-repeat: no-repeat;
    padding: 0px 10px 0 30px !important;
}

.ico_PortalLog_active {
    background-image: url('../../Images/portal_active_icon.png');
    background-position: left 0px;
    background-repeat: no-repeat;
    padding: 0px 10px 0 30px !important;
}

.darkHeader {
    color: white;
    font: bold;
    font-size: 8vw;
    margin-bottom: 0px;
    display: block;
}

.darkHeaderDescription {
    color: lightgray;
    font-size: 3vw;
    display: block;
}

.darkHeaderDescriptionBold {
    color: lightgray;
    font: bold;
    font-size: 3vw;
    display: block;
}

.noneLink {
    text-decoration: none !important;
    color: #d1d9dd !important;
}

.noneLinkActive {
    text-decoration: none !important;
    color: white !important;
}

.not-sortable {
    cursor: default;
}
