﻿html {
    background: #f5f7fb;
    /*background: #e8eae9;*/
}

.custom-ddl .selector i {
    color: #909090;
    background: none;
    border-left: 0px;
}

.custom-ddl div.selector span {
    line-height: 23px;
}

.custom-ddl div.selector {
    height: 23px;
    border: none;
    padding-left: 0px !important;
    font-weight: 500;
    color: #000;
}

.bg-white {
    background: #fff;
}

.custom-ddl i.glyph-icon.icon-chevron-down {
    position: absolute;
    top: 3px;
}

.pagecount-ddl {
    background: #000;
    color: #fff;
    border-radius: 5px;
    padding: 4px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.style-pagination .pagination {
    /*margin: 0px;*/
    margin-top: 20px;
    margin-bottom: 20px;
}

    .style-pagination .fc-corner-left,
    .style-pagination .input-append-wrapper .input-append,
    .style-pagination .nav-tabs-left > li > a,
    .style-pagination .pagination > li:first-child > a,
    .style-pagination .pagination > li:first-child > span,
    .style-pagination .pager .disabled > a,
    .style-pagination .pager .disabled > a:focus,
    .style-pagination .pager .disabled > a:hover,
    .style-pagination .pager .disabled > span,
    .style-pagination .pagination > .disabled > a,
    .style-pagination .pagination > .disabled > a:focus,
    .style-pagination .pagination > .disabled > a:hover,
    .style-pagination .pagination > .disabled > span,
    .style-pagination .pagination > .disabled > span:focus,
    .style-pagination .pagination > .disabled > span:hover {
        border: none;
        background: none;
    }

        .style-pagination .pagination > li:first-child > a:before {
            font-family: FontAwesome;
            content: "\f053";
            padding-right: 7px;
        }

    .style-pagination .pagination > li:last-child > a:after {
        font-family: FontAwesome;
        content: "\f054";
        padding-left: 7px;
    }

    .style-pagination .pagination > li > a,
    .pagination > li > span {
        background: none;
        border: none;
        color: #000;
        border-radius: 5px;
    }

    .style-pagination .pagination > .active > a,
    .pagination > .active > a:focus,
    .pagination > .active > a:hover,
    .pagination > .active > span,
    .pagination > .active > span:focus,
    .pagination > .active > span:hover {
        background: #000;
        color: #fff;
    }

.style-table .icon-sort-asc, .style-table .icon-sort-desc, .style-table .icon-sort {
    color: #86BC25;
}

.style-color-green {
    color: #86BC25;
}

.pad30A {
    padding: 30px;
}

.pad30R {
    padding-right: 30px;
}

.pad30L {
    padding-left: 30px;
}

pad30T {
    padding-top: 30px;
}

pad30B {
    padding-bottom: 30px;
}

hr {
    border-top: 1px solid #000;
}

.style-label {
    width: 100%;
}

.style-chosen-container li.search-choice {
    border-radius: 20px;
    padding-left: 10px;
}

.style-chosen-container .chosen-choices {
    background: #F5F7FA;
}

.style-input-text {
    background: #F5F7FA;
}

.btn-width-180 {
    width: 180px;
}

.btn-edit-online-course {
    border-radius: 100px;
    background: #000;
    color: #fff;
    height: 28px;
    line-height: 25px;
    font-size: 11px;
}
