﻿

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-controller="CreateController as createCtrl" class="margin-top-80px">

    <div class="row" style="margin-top:5px">

        @*Links*@
        <div class="col-md-8">
            <span style="float:left">
                @Html.ActionLink("Channel List", "List", "Channel", null, null)
                >
                <span class="table-anchor">
                    Create Channel
                </span>
            </span>
        </div>


        <div class="col-md-4 text-right">
            <button type="button" class="btn ra-100 btn-blue btn-width-180" ng-click="createCtrl.Submit()">SAVE</button>
        </div>
    </div>

    @*Details*@
    <div class="row">

        <div class="col-lg-11">
            <div class="row">
                <div class="col-lg-3 h3-name">
                    Channel Info
                </div>
            </div>

            <hr />

            <div class="form-group">
                <div class="info-title-small-black">
                    Name
                </div>
                <div>
                    <input type="text" class="form-control info-title-small-black" placeholder="Channel Name"
                           ng-model="createCtrl.record.Name" style="max-width:780px" maxlength="256" />
                </div>
            </div>

            <div class="form-group">
                <div class="info-title-small-black">
                    Description
                </div>
                <div>
                    <textarea class="form-control info-title-small-black" placeholder="Description"
                              ng-model="createCtrl.record.Description" style="max-width:780px"></textarea>
                </div>
            </div>

            @*Multi-selection*@
            <div class="form-group">
                <div class="info-title-small-black">
                    Select multiple news
                </div>
                <div class="chosen-container chosen-container-multi" ng-class="createCtrl.showNewsList ? 'chosen-with-drop chosen-container-active' : ''" ng-click="createCtrl.openNewsList(); $event.stopPropagation()" style="max-width: 780px;" title="">
                    <ul class="chosen-choices">
                        <li class="search-choice" ng-repeat="rec in createCtrl.SelectedNewsList" ng-click="$event.stopPropagation()">
                            <span>{{rec.Title}}</span><i class="search-choice-close" ng-click="createCtrl.removeNews(rec); $event.stopPropagation()"></i>
                        </li>

                        <li class="search-field ms-hover" style="">
                            <input type="text" placeholder="{{createCtrl.SelectedNewsList.length > 0 ? 'Click or type to select...' : 'Click or type to select...' }}" ng-model="createCtrl.searchNews" ng-keyup="createCtrl.refreshNewsList()" ng-focus="createCtrl.refreshNewsList()" />
                        </li>
                    </ul>

                    <div class="chosen-drop" click-outside="createCtrl.hideAllList()">
                        <ul class="chosen-results">
                            <li class="active-result" ng-repeat="rec in createCtrl.NewsList" ng-click="createCtrl.updateNewsList(rec)" ng-hide="rec.selected">
                                <div>{{rec.Title}}</div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>


        </div>
    </div>

</div>


@section Scripts{
    <script src="~/Scripts/controllers/Channel/CreateController.js"></script>
}




