﻿<!DOCTYPE html>
<html  ng-app="myApp" ng-controller="MainController as mainCtrl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/angular-moment.js"></script>
    <script src="~/Scripts/controllers/app.js"></script>
    <script src="~/Scripts/controllers/main.js"></script>
    <script src="~/Scripts/factory/serverCall.js"></script>
    <link href="~/Content/Loader.css" rel="stylesheet" /> @*For Loading Icon*@
    <link href="~/Content/Custom.css" rel="stylesheet" />
    <link href="~/Content/admin-style.css" rel="stylesheet" />
</head>
<body>
    @*For Loading Icon*@
    <div class="loader-float" ng-show="mainCtrl.Page.getLoader()">
        <div class="cssload-loader-inner">
            <div class="cssload-cssload-loader-line-wrap-wrap" style="border-color: transparent !important;">
                <div class="cssload-loader-line-wrap" style="border-color: transparent !important;"></div>
            </div>
            <div class="cssload-cssload-loader-line-wrap-wrap" style="border-color: transparent !important;">
                <div class="cssload-loader-line-wrap" style="border-color: transparent !important;"></div>
            </div>
            <div class="cssload-cssload-loader-line-wrap-wrap" style="border-color: transparent !important;">
                <div class="cssload-loader-line-wrap" style="border-color: transparent !important;"></div>
            </div>
            <div class="cssload-cssload-loader-line-wrap-wrap">
                <div class="cssload-loader-line-wrap" style="border-color: #408530 !important;"></div>
            </div>
            <div class="cssload-cssload-loader-line-wrap-wrap">
                <div class="cssload-loader-line-wrap" style="border-color: transparent !important;"></div>
            </div>
        </div>
    </div>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("News", "List", "News")</li>
                    <li>@Html.ActionLink("Channel", "List", "Channel")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @*<script src="~/Scripts/admin-style.js"></script>*@
    @RenderSection("scripts", required: false)
</body>
</html>
