﻿

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-controller="CreateController as createCtrl" class="margin-top-80px">

    <div class="row" style="margin-top:5px">

        @*Links*@
        <div class="col-md-8">
            <span style="float:left">
                @Html.ActionLink("News List", "List", "News", null, null)
                >
                <span class="table-anchor">
                    Create News
                </span>
            </span>
        </div>


        <div class="col-md-4 text-right">
            <button type="button" class="btn ra-100 btn-blue btn-width-180" ng-click="createCtrl.Submit()">SAVE</button>
        </div>
    </div>

    @*Details*@
    <div class="row">

        <div class="col-lg-11">
            <div class="row">
                <div class="col-lg-3 h3-name">
                    News Info
                </div>
            </div>

            <hr />

            <div class="form-group">
                <div class="info-title-small-black">
                    Title
                </div>
                <div>
                    <input type="text" class="form-control info-title-small-black" placeholder="News Title"
                           ng-model="createCtrl.record.Title" style="max-width:780px" maxlength="256" />
                </div>
            </div>

            <div class="form-group">
                <div class="info-title-small-black">
                    Content
                </div>
                <div>
                    <textarea class="form-control info-title-small-black" placeholder="Content"
                              ng-model="createCtrl.record.Content" style="max-width:780px"></textarea>
                </div>
            </div>

            @*Multi-selection*@
            <div class="form-group">
                <div class="info-title-small-black">
                    Select multiple channels
                </div>
                <div class="chosen-container chosen-container-multi" ng-class="createCtrl.showChannelList ? 'chosen-with-drop chosen-container-active' : ''" ng-click="createCtrl.openChannelList(); $event.stopPropagation()" style="max-width: 780px;" title="">
                    <ul class="chosen-choices">
                        <li class="search-choice" ng-repeat="rec in createCtrl.SelectedChannelList" ng-click="$event.stopPropagation()">
                            <span>{{rec.Name}}</span><i class="search-choice-close" ng-click="createCtrl.removeChannel(rec); $event.stopPropagation()"></i>
                        </li>

                        <li class="search-field ms-hover" style="">
                            <input type="text" placeholder="{{createCtrl.SelectedChannelList.length > 0 ? 'Click or type to select...' : 'Click or type to select...' }}" ng-model="createCtrl.searchChannel" ng-keyup="createCtrl.refreshChannelList()" ng-focus="createCtrl.refreshChannelList()" />
                        </li>
                    </ul>

                    <div class="chosen-drop" click-outside="createCtrl.hideAllList()">
                        <ul class="chosen-results">
                            <li class="active-result" ng-repeat="rec in createCtrl.ChannelList" ng-click="createCtrl.updateChannelList(rec)" ng-hide="rec.selected">
                                <div>{{rec.Name}}</div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>


        </div>
    </div>

</div>


@section Scripts{
    <script src="~/Scripts/controllers/News/CreateController.js"></script>
}




