﻿

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-controller="ListController as listCtrl" class="margin-top-80px">
    @*Filter*@
    <div class="row margin-top-15px">
        <div class="col-md-11" style="padding-left:0px">
            <div class="input-group">
                <input type="text"
                       class="form-control"
                       placeholder="Search Title" ng-model="listCtrl.searchKeyword" ng-keyup="listCtrl.search($event)"
                       style="width: 100%;float: none;" />
            </div>
        </div>

        <div class="col-md-1">
            <div class="input-group">
                <a class="fc-button" href="/News/Create">Create </a>
            </div>
        </div>
    </div>

    @*Table List*@
    <div class="row margin-top-15px">
        <div>
            <table class="table table-bordered table-hover ">
                <thead>
                    <tr class="vertical-align-middle">
                        <th ng-repeat="column in listCtrl.tableColumn">
                            <div ng-click="listCtrl.sort(column.EnableSorting, column.SortingField)">
                                {{column.Name}}
                                <span><i class="pull-right glyph-icon" ng-class="listCtrl.sortIcon(column.EnableSorting, column.SortingField)"></i></span>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody ng-if="listCtrl.List.length > 0">
                    <tr class="vertical-align-middle" ng-repeat="record in listCtrl.List">
                        <td class="text-center">{{$index + 1 + ((listCtrl.page-1) * listCtrl.pageSize)}}.</td>
                        <td>
                            <div style="width:150px;word-wrap:break-word;">
                                {{record.Title}}
                            </div>
                        </td>
                        <td style="width:100px">{{record.Content}}</td>
                        <td>
                            {{record.CreatedDate | amUtc | amLocal | amDateFormat:'DD-MM-YYYY'}}<br />
                            {{record.CreatedDate | amUtc | amLocal | amDateFormat:'h:mm a'}}
                            @*{{record.CreatedDate}}*@
                        </td>
                        <td>
                            {{record.UpdatedDate | amUtc | amLocal | amDateFormat:'DD-MM-YYYY'}}<br />
                            {{record.UpdatedDate | amUtc | amLocal | amDateFormat:'h:mm a'}}
                            @*{{record.UpdatedDate}}*@
                        </td>
                        <td>
                            <a ng-click="listCtrl.remove(record)">
                                Delete
                            </a>
                            |
                            <a href="News/Edit/{{record.ID}}">
                                Edit
                            </a>
                        </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td colspan="9" class="text-center" ng-if="listCtrl.List.length < 1">
                            No records
                        </td>
                    </tr>
                </tbody>
            </table>

            @*Paging*@
            <div class="row" style="padding-top:20px;">

                <div class="pull-right">
                    <ul uib-pagination
                        total-items="listCtrl.totalCount"
                        items-per-page="listCtrl.pageSize"
                        ng-change="listCtrl.refreshList()"
                        ng-model="listCtrl.page"
                        max-size="3"
                        class="pagination-sm"
                        boundary-link-numbers="true"></ul>
                </div>

            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/Scripts/controllers/News/ListController.js"></script>
}



